* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    margin-bottom: 20px;
  }
  html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #999898;
    color: #333;
  }
  .page-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    color: #333;
    padding: 20px;
    
  }